*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B8D4E3;
    height: 10vh;
}
.main-container{
    background-color: #66101F;
    color: #EEFFDB;
    padding: 30px;
    padding-left: 30%;
    top: 50%;
    
}
aside nav ul a{
 text-decoration: none; 
 list-style: none;
 padding: 20px;

}
aside{
    display: flex;
    margin: 30px;
    padding: 10px;
   
}
p{
    padding-left: 50px;
    text-align: justify;
}
aside nav ul{
padding-left: 30px;
}
aside nav{
    background-color: #8A8E91;
    width: 2000px;
    height: 200px;
    box-shadow: 13px 13px 30px #8A8E91;
    border-radius: 10px;
}
aside nav ul a li{
    text-align: center;
    border: 2px solid #B8D4E3;
    margin-right: 20px;
    border-radius: 10px;
    padding: 3px;
    
}
div img{
    height: 300px;
    width: 300px;
    border: 5px solid #66101F ;
    border-radius: 10px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: #8A8E91;
}
footer{
    /* margin: 50px; */
    padding: 20px;
    margin-top: 150px;
    padding-left: 400px;
    
}
h1{
    justify-content: center;
    align-items: center;
}